@import "../TemplateLeftSideMenu/TemplateLeftSideMenu.scss";
$basicText: #3b424d;
$markerFirstLevelColor: $basicText;
$markerSecondLevelColor: #959ca6;
$markerThirdLevelColor: #D4D8DF;
$selctionMarkerColor:#D4D8DF;
.TemplateRegularMaterial {
    @extend .TemplateLeftSideMenu;
    .Footer {
        background-color: #f7f7f7;
    }
    .List {
        margin-bottom: 1rem;
        //padding: 0 8px;
        margin-left: 0;
        list-style-type: none;
    }
    .List>li {
        >.Text {
            margin-bottom: 4px;
            position: relative;
            &::before {
                content: "\2022";
                font-size: 19px;
                position: absolute;
                color: $markerFirstLevelColor;
                left: -11px;
                text-decoration: none;
                @media (max-width: 816px) {
                    left: -12;
                }
            }
            @media (max-width: 816px) {
                margin-left: 18px;
            }
        }
        .List {
            margin-left: 20px;
            >li>.Text::before {
                color: $markerSecondLevelColor;
            }
            .List>li>.Text::before {
                color: $markerThirdLevelColor;
            }
        }
    }
    //@include transition( margin-left 0.15s ease-in-out);
    >.Content {
        >.Text {
            margin-bottom: 1rem;
            padding: 0 8px;
        }
        >.Section>.Text {
            margin-bottom: 1rem;
            // padding: 0 8px;
        }
        //margin-top: 40px;
        $minWidth: 320px;
        min-width: $minWidth;
        margin: 0 auto 0 auto;
        flex: 1 0 auto;
        font-weight: 400;
        font-size: 1rem;
        color: #3b424d;
        line-height: 1.6;
        letter-spacing: 0.01em;
        @mixin SectionTitleLink {
            text-decoration: none;
            &:after {
                color: $selctionMarkerColor;
                font-family: "Material Design Icons";
                content: "\F0339";
            }
        }
        &.anchorsOutside .Section>.Title>.Link {
            @include SectionTitleLink;
            float: left;
            @media (max-width: 892px) {
                float: right;
            }
            &:after {
                position: absolute;
                float: left;
                margin-left: -1.2em;
                @media (max-width: 892px) {
                    position: relative;
                    float: right;
                    margin-left: 0;
                }
            }
        }
        &.anchorsInside .Section>.Title>.Link {
            @include SectionTitleLink;
            float: right;
            &:after {
                position: relative;
                float: right;
                margin-left: 0;
            }
        }
        a {
            color: #3f5e92;
        }
        a:visited {
            color: #5883cc;
        }
        .Header {
            margin-bottom: 4vh;
            padding-bottom: 1rem;
            border-bottom: 1px solid #ddd;
            .Title {
                text-align: left;
                letter-spacing: 0.4px;
                overflow: hidden;
                max-height: 20vh;
                line-height: 60px;
                // letter-spacing: 10px;
                font-weight: 600;
                font-size: 52px;
                color: #1b1e23;
            }
        }
        .Section {
            margin-bottom: 30px;
            >.Title {
                font-weight: 400;
                font-size: 30px;
                line-height: 40px;
                color: #1B1E23;
                margin-bottom: 0.2rem;
            }
            >.Section {
                margin-left: 20px;
                .Title {
                    font-weight: 400;
                    font-size: 1.6rem;
                }
                >.Section>.Title {
                    font-weight: 500;
                    font-size: 1.4rem;
                    color: #ccc;
                }
            }
        }
        /*> *, .Section > * {
            margin-top: 0.4rem;
        }*/
        /*> *:not(:last-child), .section>*:not(:last-child) {
            margin-bottom: 0.4rem;
        }
        
        *:not(:last-child)[style*="display:flex"] {
            margin-bottom: 0.4rem;
        }*/
        .Header div.Image {
            display: block;
            width: 100%;
            height: 50vh;
            margin-bottom: 2vh;
        }
        .Section div.Image {
            display: block;
            width: 100%;
            height: 30vh;
            margin-bottom: 1vh;
        }
        img.Image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5vh;
            margin-top: 1.5vh;
            height: auto;
            width: 100%;
        }
        >.Header,
        >.Section {
            >.Text,
            >.Title {
                @media only screen and (max-width: 816px) {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }
        .Text b {
            font-weight: 500;
            color: rgb(121, 190, 30);
            text-align: left;
            //white-space: nowrap
        }
        .Text {
            //text-indent: 1.5em;
        }
    }
}