@import "../TemplateLeftSideMenu/TemplateLeftSideMenu.scss";

.TemplateRegularMaterial {
    @extend .TemplateLeftSideMenu;
    //@include transition( margin-left 0.15s ease-in-out);
    > .Content {
        //margin-top: 40px;

        $minWidth: 320px;
        min-width: $minWidth;
        margin: 40px auto 0 auto;
        flex: 1 0 auto;
        font-weight: 400;
        font-size: 1rem;
        color: #777;
        line-height: 1.6;
        letter-spacing: 0.01em;



        @mixin SectionTitleLink {
            text-decoration: none;

            &:after {
                color: #ccc;
                font-family: "Material Design Icons";
                content: "\F0339";
            }
        }

        &.anchorsOutside .Section > .Title > .Link {
            @include SectionTitleLink;
            float: left;

            &:after {
                position: absolute;
                float: left;
                margin-left: -1.2em;
            }
        }

        &.anchorsInside .Section > .Title > .Link {
            @include SectionTitleLink;
            float: right;

            &:after {
                position: relative;
                float: right;
                margin-left: 0;
            }
        }



        .Header {
            margin-bottom: 4vh;
            border-bottom: 1px solid #ddd;

            .Title {
                text-align: center;
                font-weight: 200;
                font-size: 3.2rem;
                color: #000;
                margin-top: 2rem;
                margin-bottom: 1rem;
                /*@include small-screen {
                    font-size: 6.4vmax;
                }*/
            }
        }

        .Section > .Title {
            font-weight: 300;
            font-size: 1.7rem;
            color: #888;
            margin-bottom: 0.2rem;
        }

        .Section > .Section {
            margin-left: 20px;

            .Title {
                font-weight: 400;
                font-size: 1.6rem;
                color: #aaa;
            }
        }

        .Section > .Section > .Section > .Title {
            font-weight: 500;
            font-size: 1.4rem;
            color: #ccc;
        }


        > *, .Section > * {
            margin-top: $VerticalGap;
        }
        /*> *:not(:last-child), .section>*:not(:last-child) {
            margin-bottom: $VerticalGap;
        }
        
        *:not(:last-child)[style*="display:flex"] {
            margin-bottom: $VerticalGap;
        }*/
        .Header div.Image {
            display: block;
            width: 100%;
            height: 50vh;
            margin-bottom: 2vh;
        }

        .Section div.Image {
            display: block;
            width: 100%;
            height: 30vh;
            margin-bottom: 1vh;
        }

        img.Image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 100%;
        }

        > .Header, > .Section {
            > .Text, > .Title {
                @media only screen and (max-width: 816px) {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
        }

        .Text b {
            font-weight: 500;
            color: rgb(121, 190, 30);
            text-align: left;
            //white-space: nowrap
        }
    }
}
