.VideoPlayer {
    width: 100%;
    //padding-top: calc(9 / 16 * 100%);
    position: relative;
    //z-index: 1;
    //pointer-events: none;
    overflow: hidden;
    background-color: black;

    .VideoPlayerInner {
        position: absolute;
        
        top: 50%;
        transform: translateY(-50%);

        //top: 0;
        left: 0;
        width: 100%;
        //height: 300%;
        height: auto;
        margin: auto;
    }
}
