.VideoPlayer {
    width: 100%;
    padding-top: calc(9 / 16 * 100%);
    position: relative;
    //z-index: 1;
    //pointer-events: none;
    overflow: hidden;
    background-color: black;

    .VideoPlayerInner {
        //z-index: 0;
        position: absolute;
        //top: -100%;
        top: 0;
        left: 0;
        width: 100%;
        //height: 300%;
        height: 100%;
    }
}
