
.TemplateLeftSideMenu {
    height: 100%;
    display: flex;
    flex-direction: column;

    > .LeftSideMenu {
        position: fixed;
        left: 0;
        //@include transition( left 0.15s ease-in-out);
        top: 0;
        height: 100%;
        //max-width: $max-menu-width;
        z-index: 1000;
        opacity: 0.96;
        background-color: white;
        border-right: 1px solid #ddd;

        > * {
            display: block;
            color: inherit;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        > .HamburgerButton {
            
            //visibility: hidden;
            background-color: inherit;
            position: absolute;
            top: 0px;
            padding: 8px;
            left: 100%;


            &:after {
                position: relative;
                color: inherit;
                font-family: "Material Design Icons";
                font-size: 2em;
                content: "\F035C";
                border-radius: 50%;
                padding: 8px;
            }

            &.Checked:after {
                
                content: "\F0156";
            }
        }
    }
}
