$DEBUG_MODE: false;
$itemD: 30px;
$itemMargin: 0.25 * $itemD;
$itemFold: -($itemMargin + $itemD);
$itemArealD: $itemMargin * 2+$itemD;
$slideTransition: .5s;
$coloringTransition: .2s;
.LanguageMenu {
    display: none;
    position: absolute;
    width: $itemArealD;
    padding-top: $itemMargin;
    margin: 0;
    right: 0;
    top: 0;
    //top: $itemMargin;
    z-index: 10;
    visibility: hidden;
    flex-direction: column;
    justify-content: flex-start;
    transition: $slideTransition;
    .Text {
        background-color: #959CA6;
        color: #f2f4f6;
        text-decoration: none;
        font-weight: 400;
        text-align: center;
        font-size: 0.7rem;
        width: $itemD;
        height: $itemD;
        border-radius: 50%;
        flex-grow: 0;
        flex-shrink: 0;
        order: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $itemMargin;
        margin-bottom: $itemFold;
        position: relative;
        transition: margin-bottom $slideTransition, background-color $coloringTransition, opacity $coloringTransition;
        &.MouseOver {
            background-color: #525966;
        }
        &.Selected {
            background-color: #ACC435;
            order: 0;
            margin-top: 0;
        }
        &::before {
            position: absolute;
            width: $itemArealD;
            height: $itemArealD;
            border-radius: 50%;
            content: '';
            background-color: transparent;
            @if $DEBUG_MODE {
                border: 1px dashed #313740;
            }
        }
    }
    &.MouseOver .Text {
        margin-bottom: $itemMargin;
    }
}