
.Footer {
	position: static;
	display: block;
	margin: 32px 0 0 0;
	background-color: white;

	/*&:before {
		position: absolute;
		display: block;
		background-color: #ddd;
		content: "";
		height: 1px;
		width: 100%;
		left: 0;
		z-index: -1;
	}*/
}

.FooterContainer {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 32px 12px 12px 32px;
	display: flex;
	flex-flow: row wrap;

	.Grid {
		display: flex;
		flex: 2 1 auto;
		flex-wrap: wrap;
	}

	.Section {

		.Title {
			display: block;
			font-size: .9rem;
			margin: 0 0 12px 0;
			font-weight: 500;
		}
	}

	a {
		color: #455a64;
		font-size: .9rem;
		padding: 4px 0;
		line-height: 1.4em;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #8c96a0;
		}
	}

	div.Text {
		color: #8c96a0;
		font-size: 14px;
		box-sizing: border-box;
		margin: auto;
	}
}