@mixin box-shadow($shadow1, $shadow2: false, $shadow3: false, $shadow4: false, $shadow5: false) {
    $params: $shadow1;

    @if $shadow2 != false {
        $params: $shadow1, $shadow2;
    }

    @if $shadow3 != false {
        $params: $shadow1, $shadow2, $shadow3;
    }

    @if $shadow4 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4;
    }

    @if $shadow5 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5;
    }

    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}

$verticalGap: 0.4rem !default;
@import "Youtube/VideoPlayer.scss";
@import "Templates/TemplateRegularMaterial/TemplateRegularMaterial.scss";
@import "Templates/TemplateLanding/TemplateLanding.scss";
@import "Table/Table.scss";

@import "Code/Code.scss";
@import "Code/GitHubLink.scss";