@mixin box-shadow($shadow1, $shadow2: false, $shadow3: false, $shadow4: false, $shadow5: false) {
    $params: $shadow1;

    @if $shadow2 != false {
        $params: $shadow1, $shadow2;
    }

    @if $shadow3 != false {
        $params: $shadow1, $shadow2, $shadow3;
    }

    @if $shadow4 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4;
    }

    @if $shadow5 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5;
    }

    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}

@mixin selectable($params) {
    -webkit-user-select: $params; /* Chrome all / Safari all */
    -moz-user-select: $params; /* Firefox all */
    -ms-user-select: $params; /* IE 10+ */
    user-select: $params; /* Likely future */
}


$verticalGap: 0.4rem !default;
@import "Youtube/VideoPlayer.scss";
@import "Templates/TemplateRegularMaterial/TemplateRegularMaterial.scss";
@import "Templates/TemplateLanding/TemplateLanding.scss";
@import "Table/Table.scss";
@import "Lists/Lists.scss";

@import "MaterialCard/MaterialCard.scss";
@import "Grid/Grid.scss";

@import "Code/Code.scss";
@import "Code/GitHubLink.scss";

@import "Downloadable/Downloadable.scss";