@mixin box-shadow($shadow1, $shadow2: false, $shadow3: false, $shadow4: false, $shadow5: false) {
    $params: $shadow1;

    @if $shadow2 != false {
        $params: $shadow1, $shadow2;
    }

    @if $shadow3 != false {
        $params: $shadow1, $shadow2, $shadow3;
    }

    @if $shadow4 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4;
    }

    @if $shadow5 != false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5;
    }

    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}

@mixin selectable($params) {
    -webkit-user-select: $params; /* Chrome all / Safari all */
    -moz-user-select: $params; /* Firefox all */
    -ms-user-select: $params; /* IE 10+ */
    user-select: $params; /* Likely future */
}

@mixin materialShadow{
    @include box-shadow( 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24));
    }


@mixin materialShadowHover {
    @include transition( box-shadow 0.15s ease-in-out);
    &:hover {
        @include box-shadow( 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23));
    }
}

@mixin SelectNone {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}


    $verticalGap: 0.4rem !default;
    @import "Youtube/VideoPlayer.scss";
    @import "Templates/TemplateRegularMaterial/TemplateRegularMaterial.scss";
    @import "Templates/TemplateLanding/TemplateLanding.scss";
    @import "Table/Table.scss";
    @import "Lists/Lists.scss";

    @import "MaterialCard/MaterialCard.scss";
    @import "Grid/Grid.scss";

    @import "Code/Code.scss";
    @import "Code/GitHubLink.scss";

    @import "Downloadable/Downloadable.scss";