
@import "Variables";
@import "Mixins";
@import "Components";
@import "Templates";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: $LineHeightBase;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba($Black, 0);
    -webkit-font-smoothing: subpixel-antialiased;
}

body {
    margin: 0;
    font-family: $FontFamilyBase;
    font-size: $FontSizeBase;
    font-weight: $FontWeightBase;
    line-height: $LineHeightBase;
    color: $GrayDarkest;
    text-align: left;
    background-color: $White;
}

/*hr {
    margin-top: $Spacer;
    margin-bottom: $Spacer;
    border: 0;
    border-top: $BorderWidth solid rgba($Black, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6  {
    margin-top: 0;
    margin-bottom: $Spacer / 2;
    font-weight: $HeadingsFontWeight;
    line-height: $HeadingsLineHeight;
}

h1, .h1 { font-size: $H1FontSize; }
h2, .h2 { font-size: $H2FontSize; }
h3, .h3 { font-size: $H3FontSize; }
h4, .h4 { font-size: $H4FontSize; }
h5, .h5 { font-size: $H5FontSize; }
h6, .h6 { font-size: $H6FontSize; }

a {
    color: $LinkColor;
    text-decoration: $LinkDecoration;
    word-wrap: break-word;
    background-color: transparent;

    &:hover {
        color: $LinkHoverColor;
        text-decoration: $LinkHoverDecoration;
    }
}

p {
    margin-top: 0;
    margin-bottom: $Spacer;
}

pre, code, kbd, samp {
    font-family: $FontFamilyMonospace;
    //font-size: ??
}

pre {
    margin-top: 0;
    margin-bottom: $Spacer;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

table {
    border-collapse: collapse; 
}

th {
    text-align: inherit;
}*/