
// Options

$EnableShadows: false !default;


// Colors

$AntilatencyColor: #acc435;

$White: #ffffff !default;
$GrayLightest: #f8f9fa !default;
$GrayLighter: #e9ecef !default;
$GrayLight: #dee2e6 !default;
$Gray: #adb5bd !default;
$GrayDark: #6c757d !default;
$GrayDarker: #343a40 !default;
$GrayDarkest: #212529 !default;
$Black: #000000 !default;

$Blue: #007bff !default;
$Indigo: #6610f2 !default;
$Purple: #6f42c1 !default;
$Pink: #e83e8c !default;
$Red: #dc3545 !default;
$Orange: #fd7e14 !default;
$Yellow: #ffc107 !default;
$Green: #28a745 !default;
$Teal: #20c997 !default;
$Cyan: #17a2b8 !default;

$PrimaryColor: $Blue !default;
$SecondaryColor: $GrayDark !default;
$SuccessColor: $Green !default;
$InfoColor: $Cyan !default;
$WarningColor: $Yellow !default;
$DangerColor: $Red !default;
$LightColor: $GrayLightest !default;
$DarkColor: $GrayDarker !default;


// Layout

$Spacer: 1rem !default;

$VerticalGap: 0.4rem !default;

$Z_Index0: -1;
$Z_Index1: 10;
$Z_Index2: 20;
$Z_Index3: 30;
$Z_Index4: 40;
$Z_Index5: 50;
$Z_Index6: 60;
$Z_Index7: 70;
$Z_Index8: 80;
$Z_Index9: 90;
$Z_Index10: 100;

$BorderWidth: 1px !default;


// Typography

$FontFamilySansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$FontFamilyMonospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$FontFamilyBase: $FontFamilySansSerif !default;

$FontSizeBase: 1rem !default;
$FontSizeLg: $FontSizeBase * 1.25 !default;
$FontSizeMd: $FontSizeBase * 1.14 !default;
$FontSizeSm: $FontSizeBase * 0.92 !default;
$FontSizeXs: $FontSizeBase * 0.875 !default;

$FontWeightLighter: lighter !default;
$FontWeightLight: 300 !default;
$FontWeightNormal: 400 !default;
$FontWeightBold: 700 !default;
$FontWeightBolder: bolder !default;

$FontWeightBase: $FontWeightNormal !default;
$LineHeightBase: 1.5 !default;

$H1FontSize: $FontSizeBase * 2.5 !default;
$H2FontSize: $FontSizeBase * 2 !default;
$H3FontSize: $FontSizeBase * 1.75 !default;
$H4FontSize: $FontSizeBase * 1.5 !default;
$H5FontSize: $FontSizeBase * 1.25 !default;
$H6FontSize: $FontSizeBase !default;

$HeadingsFontWeight: 500 !default;
$HeadingsLineHeight: 1.2 !default;


// Links 

$LinkColor: $PrimaryColor !default;
$LinkDecoration: none !default;
$LinkHoverColor: darken($LinkColor, 15%) !default;
$LinkHoverDecoration: underline !default;
