
.Footer {
	position: static;
	display: block;
	margin: 32px 0 0 0;

	&:before {
		position: absolute;
		display: block;
		background-color: #ddd;
		content: "";
		height: 1px;
		width: 100%;
		left: 0;
		z-index: -1;
	}
}

.FooterContainer {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 32px 12px 12px 12px;
	display: flex;
	flex-flow: row wrap;

	.Grid {
		display: flex;
		flex: 2 1 auto;
		flex-wrap: wrap;
	}

	.Section {

		.Title {
			display: block;
			font-size: .83em;
			margin: 0 0 12px 0;
			font-weight: bold;
		}
	}

	ul {
		margin: 0;
	}

	ul li {
		list-style: none;
	}

	a {
		color: #848d95;
		font-size: 14px;
		padding: 4px 0;
		line-height: 1.4em;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #bbc0c4;
		}
	}

	div.Text {
		text-align: left;
		color: #3d5154;
		font-size: 14px;
		box-sizing: border-box;
		display: inline-block;
		line-height: 1.4em;
		margin: auto;
		padding: 0;
	}
}

/*.FooterMenu {
	display: flex;
	flex: 2 1 auto;
	flex-wrap: wrap;
}

.FooterMenuSection {
	padding: 0 12px 24px 0;
	flex: 1 0 auto;
}*/
