
.Footer {
	margin: 100px 0px 0px 0px;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	display: block;
	box-sizing: border-box;
	background-color: #e2e1e1;
	color: #6a737c;
	padding-top: 0;
	padding-bottom: 0;
	width: 100%;
	left: 0;
	bottom: 0;
	z-index: 10000;
}

.FooterContainer {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 32px 12px 12px 12px;
	display: flex;
	flex-flow: row wrap;
}

.FooterMenu {
	display: flex;
	flex: 2 1 auto;
	flex-wrap: wrap;
}

.FooterMenuSection {
	padding: 0 12px 24px 0;
	flex: 1 0 auto;

	ul {
		margin: 0;
	}

	ul li {
		list-style: none;
	}

	ul li a {
		color: #848d95;
		padding: 4px 0;
		line-height: 1.30769231;
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: #bbc0c4;
		}
	}
}
